<h1>This is the secret page</h1>
<p>You found me :)</p>
<img src="http://www.nikola-breznjak.com/blog/wp-content/uploads/2014/11/howDoesThisEvenWork.jpg">

<li>
	<a href="/register">Sign Up!</a>
</li>
<li>
	<a href="/login">Login!</a>
</li>

<li>
	<a href="/logout">Logout!</a>
</li>